body{
  background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(172,148,233,1) 95%);
}
table {
  table-layout: auto;
width: 100%;
border-collapse: collapse;
border: 3px solid black;
}
img {
  border-radius: 8px;
  max-width: 60%;
  height: auto;

}
h1{
  background-color: lightgrey;
  color: black;
  text-align: center;
}
.button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 30px 20px 3px FB3640;
  font-family: Georgia;
  color: FB3640;
  font-size: 29px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, A799B7);
  background-image: -moz-linear-gradient(top, #3cb0fd, A799B7);
  background-image: -ms-linear-gradient(top, #3cb0fd, A799B7);
  background-image: -o-linear-gradient(top, #3cb0fd, A799B7);
  background-image: linear-gradient(to bottom, #3cb0fd, A799B7);
  text-decoration: none;
}
